%div{id: "#{thing.downcase}_area"}
  .row.show-grid
    - thing.constantize.where(event_id: @event.id).each do |thing_obj|
      .span3
        .well{class: (thing.downcase)}
          = thing_obj.content
          = link_to raw('&times;'), project_event_thing_path(@project, @event, thing_obj), method: :delete, remote: true, class: 'close'
