<div class="span3">
  <div class="well">
    <%= thing.content %>
    <%= button_tag(class: 'close') do %>
      <%= link_to raw('&times;'), thing_path(@event, thing), method: :delete, remote: true %>
    <% end -%>
  </div>
</div>
