<div id="<%= "#{thing.downcase}_area" %>">
  <div class="row show-grid">
    <% thing.constantize.where(event_id: @event.id).each do |thing_obj| %>
      <div class="span3">
        <div class="well">
          <%= thing_obj.content %>
          <%= link_to raw('&times;'), thing_path(@event, thing_obj), method: :delete, remote: true, class: 'close' %>
        </div>
      </div>
    <% end %>
  </div><!--.row-->
</div>
